<div class="container custom-width">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
        <input type="text" placeholder="E-mail" formControlName="email" class="form-control mb-3">
        <input type="password" placeholder="Password" formControlName="password" class="form-control mb-3">
        <div *ngIf="formError"class="card text-white bg-danger p-2 mb-3">Email and password required</div>
        <div *ngIf="getHttpError()"class="card text-white bg-danger p-2 mb-3">
            <div class="card-header">Invalid user or password</div>
            <div class="card-body">
                <p>{{getHttpError().message}}</p>
             </div>
        </div>
        <button  type="submit" class="btn btn-success">Log In</button>
        
        
    </form>    
</div>